*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins, sans-serif;
}

body{
    background:#eef1ff;
    transition:0.3s;
}

.dark-mode{
    background:#1a1a1a;
    color:white;
}

.navbar{
    width:100%;
    padding:18px 40px;
    background:#4b0df0;
    color:white;
    display:flex;
    align-items:center;
    justify-content:space-between;
    border-radius:14px;
    position:relative;
}

.logo{
    font-size:26px;
    font-weight:600;
}

.nav-links{
    list-style:none;
    display:flex;
    gap:32px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    font-size:17px;
}

/* Right icons */
.right-section{
    display:flex;
    align-items:center;
    gap:18px;
}

.search-icon{
    cursor:pointer;
    font-size:24px;
}

/* Search bar */
.search-box{
    position:absolute;
    right:40px;
    top:13px;
    width:0;
    opacity:0;
    height:55px;
    background:#fff;
    color:#000;
    border-radius:12px;
    display:flex;
    align-items:center;
    gap:15px;
    overflow:hidden;
    padding:0 15px;
    transition:0.4s ease;
}

.search-box i{
    color:#4b0df0;
    font-size:22px;
}

.search-box input{
    width:100%;
    border:none;
    outline:none;
    font-size:16px;
}

.search-box.open{
    width:330px;
    opacity:1;
}

/* Dark mode toggle */
.switch{
    position:relative;
    width:50px;
    height:24px;
}

.switch input{
    opacity:0;
    width:0;
}

.slider{
    background:#ccc;
    border-radius:24px;
    position:absolute;
    width:100%;
    height:100%;
    cursor:pointer;
    transition:0.4s;
}

.slider:before{
    content:"";
    position:absolute;
    width:18px;
    height:18px;
    background:#fff;
    border-radius:50%;
    left:3px;
    top:3px;
    transition:0.4s;
}

input:checked + .slider{
    background:#222;
}

input:checked + .slider:before{
    transform:translateX(26px);
}

/* Mobile menu */
.mobile-menu{
    font-size:28px;
    display:none;
    cursor:pointer;
}

@media(max-width:850px){
    .nav-links{
        display:none;
        position:absolute;
        top:75px;
        right:20px;
        background:#4b0df0;
        padding:20px;
        border-radius:12px;
        flex-direction:column;
        width:200px;
    }

    .nav-links.active{
        display:flex;
    }

    .mobile-menu{
        display:block;
    }
}
